.notes-todo {
  display: flex;
  gap: 20px;
}

.todo-list,
.notes {
  flex: 1;
  background: var(--box-color);
  padding: 20px;
  border-radius: 8px;
}

h2 {
  margin-bottom: 20px;
}

.add-todo,
.add-note {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-todo input,
.add-note input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  background: var(--box-hover);
  color: var(--font-color);
}

.todo-button:hover,
.note-button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  min-height: 480px;
  max-height: 480px;
  overflow: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--box-color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--box-hover);
    border-radius: 20px;

    &:hover {
      background-color: var(--box-hover-lighter);
      transition: ease-in-out 0.3s;
    }
  }
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

li.completed label {
  text-decoration: line-through;
}

/* Custom Checkbox Style */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid var(--font-color);
  border-radius: 3px;
  background: var(--box-hover);
  transition: background 0.3s;
}

input[type="checkbox"]:checked + label:before {
  background: var(--primary-color);
}

input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

input[type="checkbox"]:checked + label:after {
  display: block;
}

button.todo-button,
button.note-button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  width: 45px;
  height: 45px;
  background: var(--box-color);
  border: none;
  font-size: 25px;
  color: var(--danger-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &:hover {
    background-color: var(--danger-color);
    color: var(--font-color);
    transition: ease-out 0.3s;
  }
}

.add-button {
  width: 45px;
  height: 45px;
  background: var(--font-color);
  border: none;
  font-size: 25px;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
    transition: ease-out 0.3s;
  }
}
