* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --background-color: #1b2635;
  --border-color: rgb(62, 62, 87);
  --box-color: #233044;
  --box-hover: #394557;
  --text-color: #f3f4f5;
  --danger-color: #f31260;
  --danger-hover: #db1056;
  --primary-color: #006fee;
  --primary-hover: #0064d6;
}
